<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">  </h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Email:</li>
          <li>
            <a class="u-email" href="mailto:guptaa@fusion.gat.com">guptaa@fusion.gat.com
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li class="p-name">Github:</li>
          <li>
            <a href="https://github.com/anchal-physics">
              <img src="{{site.baseurl}}/data/figures/GitHub-Mark-120px-plus.png" height="20">
              <span class="username">anchal-physics
              </span>
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</footer>
